@inject NavigationManager Navigation
@inject IJSRuntime JS

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DomPizza</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill me-2" aria-hidden="true"></span>
                Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/perfil">
                <span class="bi bi-person-circle me-2" aria-hidden="true"></span>
                Perfil
            </NavLink>
        </div>

        <div class="nav-item px-3 mt-3 border-top pt-3">
            <button class="btn btn-link nav-link text-danger" @onclick="Logout">
                <span class="bi bi-box-arrow-right me-2" aria-hidden="true"></span>
                Sair
            </button>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await JS.InvokeVoidAsync("localStorage.removeItem", "token");
        Navigation.NavigateTo("/login", true);
    }
}
