@page "/perfil"
@layout MainLayout
@inject NavigationManager Navigation
@inject IJSRuntime JS


<div class="home-container">
    <h3>Bem-vindo ao seu perfil!</h3>
    <p>Conteúdo protegido 🔒</p>
</div>


@code {

    protected override async Task OnInitializedAsync()
    {
        var token = await JS.InvokeAsync<string>("localStorage.getItem", "token");

        if (string.IsNullOrEmpty(token))
        {
            Navigation.NavigateTo("/login", true);
        }
    }
}
